/*Tablets*/
    .burger-menu{
        display: none;
    }
.ml-nav{
     display: flex;
     justify-content: space-between;
 }
 .ml-nav ul{
     display: flex;
 }
 .ml-nav li{
     margin: 0 5px;
 }
 .product{
     width: 50%;
 }
 
