.product{
    width: 25%;
}
.product-content .texto-desc {
    display: none;
}
.product-wrapper {
    border: 1px solid #ebebeb;
    box-shadow:none;
    background-color: white;
    }
.product-wrapper:hover {
    box-shadow: 0px 0px 10px rgb(100,100,100);
}
.product-wrapper:hover .texto-desc{
    display: initial;
    opacity: 1;
}
.camion{
    transition: transform ease-in-out 500ms;
}
.product-wrapper:hover .camion{
    transform: rotate(360deg);
}