/*=======Fonts & texts========*/
body{
    font-family: "Roboto";
    font-size: 12px;
}
.texto-titulo{
    font-size: 24px;
}
.texto-precio{
    font-size: 18px;
    /* font-weight: bold;
    margin-bottom: 0px; */
}
.texto-descuento{
    font-size: 16px;
    /* color: #39b54a;
    font-weight: bold;
    margin-top: 0px; */
}
.texto-desc{
    font-size: 16px;
    /* color: #666; */
}
/* =====Colors*=====*/
.ml-yellow-text{
    color: #EAC926;
}
.ml-yellow-background{
    background-color: #EAC926;
}
.ml-green-text{
    color:#39b54a;
}

